/* components */

.bgHome {
  background-image: url("../../public/HomeBg.svg");
}

.gradient {
  background: linear-gradient(
    90deg,
    #1583ff 8.73%,
    #00cf2d 20.39%,
    #f9d100 32.16%,
    rgba(255, 92, 0, 0.871414) 45.06%,
    #ef0000 59.08%,
    #9815ff 71.97%,
    #5100cc 86.55%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.btnGradient {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  background-color: #000;
}

.gradientBg {
  background: conic-gradient(
    from 0deg at 50% 50%,
    #5100cc -22.12deg,
    #0050ab 17.27deg,
    #1583ff 48.31deg,
    #29cf00 89.86deg,
    #00b728 106.77deg,
    #f9d100 142.26deg,
    #ff9900 164.59deg,
    #ef0000 185.53deg,
    #dc0000 204.6deg,
    #ff056e 234.66deg,
    #6800ba 270.15deg,
    #9815ff 295.61deg,
    #5100cc 337.88deg,
    #0050ab 377.27deg
  );
  border-radius: 40px;

  filter: hue-rotate(0);
  animation: hue linear 800ms infinite;
  animation-play-state: running;
}

@keyframes hue {
  to {
    filter: hue-rotate(1turn);
  }
}

.gradientUnderline {
  background: linear-gradient(
    90deg,
    #0803ff 9.31%,
    #1583ff 18.97%,
    #00cf2d 30.91%,
    #f9d100 45.12%,
    rgba(245, 74, 0, 0.910298) 50.24%,
    #ef0000 58.76%,
    #5100cc 72.97%,
    #9815ff 93.35%
  );
}
